In [1]:
import pandas as pd
import datetime

In [2]:
unclean_alleylights = pd.read_csv('../original_datasets/unclean_alleylights.csv')
unclean_alleylights

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location
0,09/18/2012,Completed,09/18/2012,12-01630621,Alley Light Out,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,06/03/2013,Completed,06/03/2013,13-00682254,Alley Light Out,1 W LAKE,NaN,NaN,NaN,42.0,1.0,32.0,NaN,NaN,NaN
2,06/18/2013,Completed,06/18/2013,13-00775171,Alley Light Out,4300 S ASHLAND AVE,60646.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,06/20/2013,Completed,06/20/2013,13-00792289,Alley Light Out,520 W 66TH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,08/09/2017,Completed,10/11/2017,17-05325459,Alley Light Out,1819 W EVERGREEN AVE,60622.0,1.163763e+06,1.909683e+06,1.0,14.0,24.0,41.907802,-87.673858,"(41.907801811227, -87.673858359813)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121818,11/17/2016,Completed,11/17/2016,16-07876733,Alley Light Out,2447 N KENNEDY EXPY IB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121819,09/28/2016,Completed,11/17/2016,16-06828101,Alley Light Out,4802 N LAKE SHORE DR SB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121820,05/24/2016,Completed,11/17/2016,16-03597363,Alley Light Out,4868 N LAKE SHORE DR SB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121821,11/22/2016,Completed,11/28/2016,16-07951223,Alley Light Out,108 W MARBLE PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121822,01/23/2017,Completed,01/23/2017,17-00418045,Alley Light Out,4958 N KENNEDY EXPY IB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
def clean_data(df):
    df = df[df.Status == 'Completed']
    df = df[['Creation Date', 'Completion Date', 'Service Request Number', 'Latitude', 'Longitude']]
    df.rename(columns={'Creation Date' : 'start_date', 'Service Request Number' : 'id', 
                       'Latitude': 'lat', 'Longitude' : 'long', 'Completion Date' : 'end_date'}, inplace=True)
    df.dropna(subset=['lat', 'long'], inplace=True)
    df['start_date'] = pd.to_datetime(df['start_date'], format='%m/%d/%Y', errors='coerce')
    df['end_date'] = pd.to_datetime(df['end_date'], format='%m/%d/%Y', errors='coerce')
    df['duration'] = df.end_date - df.start_date
    df.sort_values(by='start_date', inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df

In [4]:
unclean_alleylights = clean_data(unclean_alleylights).tail(-4)
unclean_alleylights

       start_date   end_date           id        lat       long duration
4      2010-07-06 2011-01-07  10-01015837  41.730274 -87.659251 185 days
5      2010-07-06 2011-01-06  10-01010089  41.727537 -87.631664 184 days
6      2010-07-28 2011-01-07  10-01174220  41.730056 -87.660463 163 days
7      2010-08-09 2011-01-11  10-01254195  41.741001 -87.611413 155 days
8      2010-08-10 2011-01-27  10-01267579  41.725770 -87.583791 170 days
...           ...        ...          ...        ...        ...      ...
118276 2018-12-12 2018-12-13  18-03341594  41.931194 -87.772111   1 days
118277 2018-12-12 2018-12-12  18-03340206  41.911006 -87.677539   0 days
118278 2018-12-13 2018-12-13  18-03354508  41.830108 -87.693549   0 days
118279 2018-12-13 2018-12-13  18-03354512  41.830111 -87.693452   0 days
118280 2018-12-13 2018-12-13  18-03354181  41.912811 -87.671408   0 days

[118277 rows x 6 columns]

In [5]:
unclean_streetlights_allout = pd.read_csv('../original_datasets/unclean_streetlights_allout.csv')
unclean_streetlights_allout

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location
0,10/11/2017,Completed,10/11/2017,17-06816558,Street Lights - All/Out,6200 S LAKE SHORE DR,60637.0,1.190864e+06,1.864244e+06,5.0,3.0,42.0,41.782501,-87.575777,"(41.782501350272, -87.575777307852)"
1,10/09/2017,Completed,10/11/2017,17-06772762,Street Lights - All/Out,5246 S LUNA AVE,60638.0,1.140256e+06,1.869109e+06,14.0,8.0,56.0,41.796925,-87.761204,"(41.796924982985, -87.761204398005)"
2,10/09/2017,Completed,10/11/2017,17-06756084,Street Lights - All/Out,3047 N MENARD AVE,60634.0,1.137182e+06,1.919670e+06,30.0,25.0,19.0,41.935728,-87.771261,"(41.935727801045, -87.771261009655)"
3,10/10/2017,Completed,10/11/2017,17-06786335,Street Lights - All/Out,954 E 111TH ST,60628.0,1.184652e+06,1.831466e+06,9.0,5.0,50.0,41.692701,-87.599576,"(41.692701166209, -87.599575527098)"
4,10/11/2017,Completed,10/11/2017,17-06824676,Street Lights - All/Out,4920 S ASHLAND AVE,60609.0,1.166506e+06,1.872063e+06,20.0,9.0,61.0,41.804512,-87.664856,"(41.80451176243, -87.664855769982)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147008,01/12/2013,Completed,01/15/2013,13-00048005,Street Lights - All/Out,6700 W THORNDALE AVE,60631.0,NaN,NaN,41.0,16.0,10.0,NaN,NaN,NaN
147009,08/10/2011,Completed,08/15/2011,11-03564441,Street Lights - All/Out,6660 W 52ND ST,60638.0,NaN,NaN,23.0,8.0,56.0,NaN,NaN,NaN
147010,10/22/2013,Completed,10/22/2013,13-01584230,Street Lights - All/Out,9300 S RIDGELAND AVE,60617.0,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN
147011,03/28/2012,Completed,03/29/2012,12-00682526,Street Lights - All/Out,9033 S BEVERLY AVE,60620.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147012,01/01/2013,Completed,01/03/2013,13-00000198,Street Lights - All/Out,5203 N LAKE SHORE DR NB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
unclean_streetlights_allout = clean_data(unclean_streetlights_allout)
unclean_streetlights_allout

       start_date   end_date           id        lat       long duration
0      2010-07-15 2011-06-21  10-01083911  41.944460 -87.654907 341 days
1      2010-12-10 2011-01-03  10-01987013  41.768784 -87.648140  24 days
2      2010-12-13 2011-01-03  10-01990363  41.781460 -87.646201  21 days
3      2010-12-14 2011-01-03  10-02004100  41.764868 -87.667461  20 days
4      2010-12-14 2011-01-03  10-02003912  41.710931 -87.596948  20 days
...           ...        ...          ...        ...        ...      ...
146630 2018-12-13 2018-12-14  18-03348578  41.722600 -87.564717   1 days
146631 2018-12-13 2018-12-13  18-03346719  41.872245 -87.678883   0 days
146632 2018-12-13 2018-12-13  18-03346903  41.951209 -87.776707   0 days
146633 2018-12-13 2018-12-14  18-03354484  42.003541 -87.779950   1 days
146634 2018-12-13 2019-01-18  18-03355449  41.985559 -87.740047  36 days

[146635 rows x 6 columns]

In [7]:
unclean_streetlights_oneout = pd.read_csv('../original_datasets/unclean_streetlights_oneout.csv')
unclean_streetlights_oneout

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude
0,02/19/2013,Completed,02/19/2013,13-00189592,Street Light - 1/Out,1 W LAKE,NaN,NaN,NaN,42.0,1.0,32.0,NaN,NaN
1,02/22/2013,Completed,02/22/2013,13-00204821,Street Light - 1/Out,4347 N SIMONDS DR,60640.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03/04/2013,Completed,03/15/2013,13-00242776,Street Light - 1/Out,432 W BLACKHAWK ST,60610.0,NaN,NaN,43.0,18.0,8.0,NaN,NaN
3,03/20/2012,Completed,04/03/2012,12-00641038,Street Light - 1/Out,5200 S EMERALD AVE,60609.0,NaN,NaN,3.0,9.0,61.0,NaN,NaN
4,03/25/2013,Completed,03/25/2013,13-00330005,Street Light - 1/Out,1 W LAKE,NaN,NaN,NaN,42.0,1.0,32.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134867,11/07/2018,Completed,11/08/2018,18-03110724,Street Light Out,1607 W FOSTER AVE,60640.0,1.164678e+06,1.934605e+06,40.0,20.0,3.0,41.976170,-87.669788
134868,08/08/2018,Completed,11/05/2018,18-02331140,Street Light Out,6646 S JUSTINE ST,60636.0,1.167150e+06,1.860652e+06,16.0,7.0,67.0,41.773184,-87.662821
134869,11/27/2018,Open,NaN,18-03232518,Street Light Out,8700 S YATES BLVD,60617.0,1.193671e+06,1.847758e+06,8.0,4.0,48.0,41.737193,-87.566024
134870,11/03/2018,Completed,11/05/2018,18-03079134,Street Light Out,6539 W 57TH ST,60638.0,1.133661e+06,1.866038e+06,13.0,8.0,56.0,41.788615,-87.785462
134871,10/11/2018,Completed,10/16/2018,18-02899892,Street Light Out,8300 S BUFFALO AVE,60617.0,1.199584e+06,1.850566e+06,10.0,4.0,46.0,41.744752,-87.544268

In [8]:
unclean_streetlights_oneout = clean_data(unclean_streetlights_oneout)
unclean_streetlights_oneout

       start_date   end_date           id        lat       long duration
0      2010-09-09 2011-01-10  10-01455851  41.858800 -87.729841 123 days
1      2010-09-09 2011-01-07  10-01456624  41.856133 -87.727293 120 days
2      2010-09-14 2011-01-25  10-01483842  41.696687 -87.660500 133 days
3      2010-09-14 2011-01-20  10-01481885  41.866193 -87.764332 128 days
4      2010-09-14 2011-02-01  10-01481888  41.865755 -87.754323 140 days
...           ...        ...          ...        ...        ...      ...
132526 2018-12-13 2018-12-14  18-03349990  41.896429 -87.710851   1 days
132527 2018-12-13 2018-12-14  18-03345826  41.761811 -87.694175   1 days
132528 2018-12-13 2018-12-14  18-03354506  41.738206 -87.712068   1 days
132529 2018-12-14 2019-02-09  18-03357166  41.729746 -87.637363  57 days
132530 2018-12-17 2019-02-09  18-03384721  41.728848 -87.637507  54 days

[132531 rows x 6 columns]

In [9]:
clean_lighting = pd.concat([unclean_alleylights, unclean_streetlights_allout, unclean_streetlights_oneout])
clean_lighting

       start_date   end_date           id        lat       long duration
4      2010-07-06 2011-01-07  10-01015837  41.730274 -87.659251 185 days
5      2010-07-06 2011-01-06  10-01010089  41.727537 -87.631664 184 days
6      2010-07-28 2011-01-07  10-01174220  41.730056 -87.660463 163 days
7      2010-08-09 2011-01-11  10-01254195  41.741001 -87.611413 155 days
8      2010-08-10 2011-01-27  10-01267579  41.725770 -87.583791 170 days
...           ...        ...          ...        ...        ...      ...
132526 2018-12-13 2018-12-14  18-03349990  41.896429 -87.710851   1 days
132527 2018-12-13 2018-12-14  18-03345826  41.761811 -87.694175   1 days
132528 2018-12-13 2018-12-14  18-03354506  41.738206 -87.712068   1 days
132529 2018-12-14 2019-02-09  18-03357166  41.729746 -87.637363  57 days
132530 2018-12-17 2019-02-09  18-03384721  41.728848 -87.637507  54 days

[397443 rows x 6 columns]

In [10]:
clean_lighting.sort_values(by='start_date', inplace=True)
clean_lighting.reset_index(drop=True, inplace=True)
clean_lighting

       start_date   end_date           id        lat       long duration
0      2010-07-06 2011-01-07  10-01015837  41.730274 -87.659251 185 days
1      2010-07-06 2011-01-06  10-01010089  41.727537 -87.631664 184 days
2      2010-07-15 2011-06-21  10-01083911  41.944460 -87.654907 341 days
3      2010-07-28 2011-01-07  10-01174220  41.730056 -87.660463 163 days
4      2010-08-09 2011-01-11  10-01254195  41.741001 -87.611413 155 days
...           ...        ...          ...        ...        ...      ...
397438 2018-12-13 2018-12-13  18-03346903  41.951209 -87.776707   0 days
397439 2018-12-13 2018-12-14  18-03354484  42.003541 -87.779950   1 days
397440 2018-12-13 2018-12-14  18-03346056  41.943639 -87.647963   1 days
397441 2018-12-14 2019-02-09  18-03357166  41.729746 -87.637363  57 days
397442 2018-12-17 2019-02-09  18-03384721  41.728848 -87.637507  54 days

[397443 rows x 6 columns]

In [16]:
data = []
for i in range(len(clean_lighting)):
    duration = clean_lighting.duration.iloc[i].days + 1
    for j in range(duration):
        date = clean_lighting.start_date.iloc[i] + datetime.timedelta(days=j)
        id = clean_lighting.id.iloc[i]
        lat = clean_lighting.lat.iloc[i]
        long = clean_lighting.long.iloc[i]
        d = {'date' : date, 'id' : id, 'lat' : lat, 'long' : long}
        data.append(d)
temp = pd.DataFrame(data)

In [21]:
clean_lighting = temp
clean_lighting

              date           id        lat       long
0       2010-07-06  10-01015837  41.730274 -87.659251
1       2010-07-07  10-01015837  41.730274 -87.659251
2       2010-07-08  10-01015837  41.730274 -87.659251
3       2010-07-09  10-01015837  41.730274 -87.659251
4       2010-07-10  10-01015837  41.730274 -87.659251
...            ...          ...        ...        ...
9118467 2019-02-05  18-03384721  41.728848 -87.637507
9118468 2019-02-06  18-03384721  41.728848 -87.637507
9118469 2019-02-07  18-03384721  41.728848 -87.637507
9118470 2019-02-08  18-03384721  41.728848 -87.637507
9118471 2019-02-09  18-03384721  41.728848 -87.637507

[9118472 rows x 4 columns]

In [27]:
clean_lighting.to_csv('../clean_datasets/clean_lighting.csv')

In [11]:
unclean_vacant_buildings = pd.read_csv('../original_datasets/unclean_vacant_buildings.csv')
unclean_vacant_buildings

,SERVICE REQUEST TYPE,SERVICE REQUEST NUMBER,DATE SERVICE REQUEST WAS RECEIVED,"LOCATION OF BUILDING ON THE LOT (IF GARAGE, CHANGE TYPE CODE TO BGD).",IS THE BUILDING DANGEROUS OR HAZARDOUS?,IS BUILDING OPEN OR BOARDED?,"IF THE BUILDING IS OPEN, WHERE IS THE ENTRY POINT?",IS THE BUILDING CURRENTLY VACANT OR OCCUPIED?,IS THE BUILDING VACANT DUE TO FIRE?,"ANY PEOPLE USING PROPERTY? (HOMELESS, CHILDEN, GANGS)",...,ADDRESS STREET SUFFIX,ZIP CODE,X COORDINATE,Y COORDINATE,Ward,Police District,Community Area,LATITUDE,LONGITUDE,Location
0,Vacant/Abandoned Building,17-06828959,10/11/2017,Front,NaN,Open,NaN,Vacant,False,False,...,ST,60620.0,1.168783e+06,1.853478e+06,17.0,6.0,71.0,41.753463,-87.657041,"(41.753462703929, -87.657041377513)"
1,Vacant/Abandoned Building,17-06827096,10/11/2017,Front,NaN,Open,FRONT DOOR,Vacant,False,False,...,AVE,60637.0,1.181041e+06,1.861212e+06,20.0,3.0,42.0,41.774412,-87.611883,"(41.774411948175, -87.611883311021)"
2,Vacant/Abandoned Building,17-06818719,10/11/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,PL,60628.0,1.176047e+06,1.834970e+06,34.0,5.0,49.0,41.702514,-87.630974,"(41.702513512066, -87.630973750337)"
3,Vacant/Abandoned Building,17-06824436,10/11/2017,Rear,NaN,Open,SIDE DOOR,Vacant,True,True,...,AVE,60621.0,1.172283e+06,1.866776e+06,20.0,7.0,68.0,41.789879,-87.643825,"(41.789878552302, -87.643824817919)"
4,Vacant/Abandoned Building,17-06826684,10/11/2017,Front,NaN,Open,FRONT DOOR,Vacant,False,True,...,ST,60628.0,1.175546e+06,1.841922e+06,21.0,5.0,49.0,41.721604,-87.632602,"(41.721604113589, -87.63260226787)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65114,Vacant/Abandoned Building,18-03384005,12/17/2018,Front,NaN,Open,NaN,Vacant,False,False,...,AVE,60617.0,1.196293e+06,1.849447e+06,7.0,4.0,46.0,41.741764,-87.556361,"(41.74176391586, -87.556360874371)"
65115,Vacant/Abandoned Building,18-03380438,12/17/2018,Front,NaN,Open,FRONT DOOR,Vacant,False,False,...,ST,60620.0,1.168755e+06,1.850381e+06,21.0,6.0,71.0,41.744965,-87.657233,"(41.744964687112, -87.65723277941)"
65116,Vacant/Abandoned Building,18-03379703,12/17/2018,Front,NaN,Open,BAC,Vacant,False,True,...,AVE,60649.0,1.190230e+06,1.853364e+06,8.0,4.0,43.0,41.752659,-87.578451,"(41.752658951975, -87.57845120487)"
65117,Vacant/Abandoned Building,18-03382499,12/17/2018,Front,NaN,Open,OPEN LOT,Occupied,False,True,...,RD,60624.0,1.149592e+06,1.904588e+06,37.0,11.0,23.0,41.894108,-87.726045,"(41.894107794896, -87.726045464583)"
65118,Vacant/Abandoned Building,16-02925607,04/29/2016,Front,NaN,Boarded,NaN,Vacant,True,False,...,ST,60646.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
unclean_vacant_buildings = unclean_vacant_buildings[['DATE SERVICE REQUEST WAS RECEIVED', 'SERVICE REQUEST NUMBER', 'LATITUDE', 'LONGITUDE']]
unclean_vacant_buildings.rename(columns={'DATE SERVICE REQUEST WAS RECEIVED' : 'start_date', 'SERVICE REQUEST NUMBER' : 'id', 'LATITUDE': 'lat', 'LONGITUDE' : 'long'}, inplace=True)
unclean_vacant_buildings['start_date'] = pd.to_datetime(unclean_vacant_buildings['start_date'], format='%m/%d/%Y', errors='coerce')
unclean_vacant_buildings['end_date'] = datetime.datetime(2023, 10, 19)
unclean_vacant_buildings['duration'] = unclean_vacant_buildings['end_date'] - unclean_vacant_buildings['start_date']
unclean_vacant_buildings

/var/folders/5d/fdmfhfr55d5f2r62ltcl50vh0000gn/T/ipykernel_19344/3053886892.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unclean_vacant_buildings.rename(columns={'DATE SERVICE REQUEST WAS RECEIVED' : 'start_date', 'SERVICE REQUEST NUMBER' : 'id', 'LATITUDE': 'lat', 'LONGITUDE' : 'long'}, inplace=True)
/var/folders/5d/fdmfhfr55d5f2r62ltcl50vh0000gn/T/ipykernel_19344/3053886892.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unclean_vacant_buildings['start_date'] = pd.to_datetime(unclean_vacant_buildings['start_date'], format='%m/%d/%Y', errors='coerce')
/var/folders/5d/fdmfhfr55d5f2r62ltcl50vh0000gn/T/ipykernel_19344/3053886892.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unclean_vacant_buildings['end_date'] = datetime.datetime(2023, 10, 19)
/var/folders/5d/fdmfhfr55d5f2r62ltcl50vh0000gn/T/ipykernel_19344/3053886892.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unclean_vacant_buildings['duration'] = unclean_vacant_buildings['end_date'] - unclean_vacant_buildings['start_date']

      start_date           id        lat       long   end_date  duration
0     2017-10-11  17-06828959  41.753463 -87.657041 2023-10-19 2199 days
1     2017-10-11  17-06827096  41.774412 -87.611883 2023-10-19 2199 days
2     2017-10-11  17-06818719  41.702514 -87.630974 2023-10-19 2199 days
3     2017-10-11  17-06824436  41.789879 -87.643825 2023-10-19 2199 days
4     2017-10-11  17-06826684  41.721604 -87.632602 2023-10-19 2199 days
...          ...          ...        ...        ...        ...       ...
65114 2018-12-17  18-03384005  41.741764 -87.556361 2023-10-19 1767 days
65115 2018-12-17  18-03380438  41.744965 -87.657233 2023-10-19 1767 days
65116 2018-12-17  18-03379703  41.752659 -87.578451 2023-10-19 1767 days
65117 2018-12-17  18-03382499  41.894108 -87.726045 2023-10-19 1767 days
65118 2016-04-29  16-02925607        NaN        NaN 2023-10-19 2729 days

[65119 rows x 6 columns]

In [31]:
clean_vacant_buildings = pd.read_csv('../clean_datasets/clean_vacant_buildings.csv')
clean_vacant_buildings = clean_vacant_buildings[['start_date', 'id', 'lat',
       'long', 'end_date', 'duration', 'status', 'area']]
clean_vacant_buildings

,start_date,id,lat,long,end_date,duration,status,area
0,2017-10-11,17-06828959,41.753463,-87.657041,2023-10-19,2199 days,1,71
1,2017-10-11,17-06827096,41.774412,-87.611883,2023-10-19,2199 days,1,42
2,2017-10-11,17-06818719,41.702514,-87.630974,2023-10-19,2199 days,1,49
3,2017-10-11,17-06824436,41.789879,-87.643825,2023-10-19,2199 days,1,68
4,2017-10-11,17-06826684,41.721604,-87.632602,2023-10-19,2199 days,1,49
...,...,...,...,...,...,...,...,...
65114,2018-12-17,18-03384005,41.741764,-87.556361,2023-10-19,1767 days,1,46
65115,2018-12-17,18-03380438,41.744965,-87.657233,2023-10-19,1767 days,1,71
65116,2018-12-17,18-03379703,41.752659,-87.578451,2023-10-19,1767 days,1,43
65117,2018-12-17,18-03382499,41.894108,-87.726045,2023-10-19,1767 days,1,23
65118,2016-04-29,16-02925607,NaN,NaN,2023-10-19,2729 days,0,0

In [40]:
clean_vacant_buildings.start_date = pd.to_datetime(clean_vacant_buildings.start_date)

data = []
for i in range(len(clean_vacant_buildings)):
    duration = int(clean_vacant_buildings.duration.iloc[i].split(' ')[0]) + 1
    id = clean_vacant_buildings.id.iloc[i]
    lat = clean_vacant_buildings.lat.iloc[i]
    long = clean_vacant_buildings.long.iloc[i]
    status = clean_vacant_buildings.status.iloc[i]
    area = clean_vacant_buildings.area.iloc[i]
    for j in range(duration):
        date = clean_vacant_buildings.start_date.iloc[i] + datetime.timedelta(days=j)
        d = {'date' : date, 'id' : id, 'lat' : lat, 'long' : long, 'status' : status, 'area' : area}
        data.append(d)
temp = pd.DataFrame(data)

In [44]:
unclean_vacant_buildings = temp

In [ ]:
clean_lighting.to_csv('../clean_datasets/clean_lighting.csv', index=False)
unclean_vacant_buildings.to_csv('../clean_datasets/clean_vacant_buildings.csv', index=False)